.big {
    width: 270px;
    height: 34px;
    text-align: center;
    background-color: var(--main);
    color: var(--white);
    margin: 0 auto;
    text-transform: uppercase;
    font-size: 29px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    color: #fff;
}

.bigwhite {
    font-size: 29px;
    font-weight: 700;
    font-style: normal;
    line-height: normal;
    text-align: left;
    color: var(--white);
    text-transform: uppercase;
    text-align: center;
}

@media (max-width: 576px) {
    .big {
        font-size: 25px;
    }
    .bigwhite {
        font-size: 25px;
    }
}