.modelCard {
    height: 238px;
    background-color: var(--white);
    margin: 20px;
    padding: 10px 13px 14px 11px;
    box-shadow: 0px 11px 43.7px 2.3px rgba(213, 165, 145, 0.1);
    transition: 0.3s all;

    &__info {
        padding-left: 10px;
        width: 246px;
    }

    &__wrapper {
        display: flex;
    }

    &__img {
        width: 58px;
        border-radius: 100%;
    }

    &__name {
        padding-top: 12px;
        font-size: 23px;
        font-weight: 700;
        text-transform: uppercase;
        font-stretch: normal;
        font-style: normal;
        color: var(--darker)
    }

    &__city {
        font-size: 12px;
        font-weight: 300;
        text-transform: uppercase;
        font-stretch: normal;
        font-style: normal;
        color: var(--darker)
    }

    &__price {
        width: 120px;
        padding: 6px 0;
        display: flex;
        justify-content: space-between;
    }

    &__per {
        font-size: 12px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        color: var(--darker);

        span {
            font-size: 16px;
            font-weight: 700;
        }
    }

    &__photos {
        display: flex;
        flex-grow: 1
    }

    &__photo {
        height: 216px;
        width: 216px;
        object-fit: cover;
        object-position: center top;
        margin: 0 5px;
        cursor: pointer;
    }

    &:hover {
        transform: scale(1.007);
        box-shadow: 0px 11px 43.7px 2.3px rgba(213, 165, 145, 0.4);
    }
}

.onePhoto {
    position: relative;
    overflow: hidden;
}

.quickPreview {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    text-align: center;
    font-size: 14px;
    color: var(--white);
    transform: translate(-50%, -50%);
    transition: 0.5s all;
    cursor: pointer;
}


.overlay {
    position: absolute;
    top: 0px;
    left: 5px;
    width: 216px;
    height: 216px;
    opacity: 0.5;
    background-color: black;
    transition: 0.5s all;
    cursor: pointer;
}

.info__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

@media (max-width: 1440px) {
    .modelCard {
        height: 190px;
        &__photo {
            height: 168px;
            width: 168px;
            flex-grow: unset;
        }
        &__info {
            text-align: center;
            padding-left: 0;
            margin: 0 auto;
            width: 230px;
        }

        &__photos {
            display: flex;
            flex: auto;
            justify-content: flex-end;
        }
    }
    .overlay {
        width: 168px;
        height: 168px;
    }
    .buttons__container {
        width: 230px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

}

@media (max-width: 1200px) {
    .modelCard {
        height: 180px;
        &__photo {
            height: 158px;
            width: 158px;
        }
        &__name {
            font-size: 20px;
        }
        &__img {
            width: 50px;
        }
    }

    .overlay {
        width: 158px;
        height: 158px;
    }
}

@media (max-width: 992px) {
    .modelCard {
        &__info {
            width: 190px;
        }
    }
    .buttons__container {
        width: 190px;
    }

}

@media (max-width: 768px) {
    .modelCard {
        &__info {
            width: 180px;
        }
    }
    .buttons__container {
        width: 180px;
    }

}

@media (max-width: 576px) {

}