.slogan {
    height: 800px;
    background-color: #b48787;
    display: flex;
    gap: 20px;

}

.girl {
    display: flex;
    height: 800px;
    max-width: 50%;
    max-height: 100%;
    object-fit: contain;
    flex-shrink: 0;
    img {
        height: 100%;
    }
    
}


.texts {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;

    &__main {
        padding: 30px 60px;
        font-size: 47px;
        font-weight: 900;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: var(--white);
        text-transform: uppercase;

    }

    &__secondary {
        padding: 30px 60px;
        font-size: 29px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color:var(--white);
        text-transform: uppercase;
        overflow-wrap: break-word;
    }
}

@media (max-width: 1200px) {
    .slogan, .girl {
        height: 500px;
    }
    .texts {
        &__main {
            font-size: 35px;
        }
        &__secondary {
            font-size: 24px;
        }
    }

}

@media (max-width: 992px) {
    .slogan, .girl {
        height: 400px;
    }
    .texts {
        &__main {
            font-size: 30px;
        }
        &__secondary {
            font-size: 20px;
        }
    }

}


@media (max-width: 768px) {
    .slogan, .girl {
        height: 400px;
    }
    .texts {
        padding: 20px;
        &__main {
            font-size: 20px;
            padding: 10px 20px;
        }
        &__secondary {
            font-size: 16px;
            padding: 10px 20px;
        }
    }

}

@media (max-width: 576px) {
    .slogan, .girl {
        height: 200px;
    }
    .texts {
        padding: 20px;
        &__main {
            font-size: 14px;
            padding: 10px 20px;
        }
        &__secondary {
            font-size: 12px;
            padding: 10px 20px;
        }
    }

}

@media (max-width: 425px) {
    .slogan, .girl {
        height: auto;
        min-height: 300px;
    }
    .texts {
        padding: 20px;
        &__main {
            font-size: 20px;
            padding: 10px 20px;
        }
        &__secondary {
            font-size: 16px;
            padding: 10px 20px;
        }
    }

}