.digits {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 400px;
    background-color: var(--main);
    flex-wrap: wrap;

    &__wrapper {
        width: 200px;
        text-align: center;
    }

    &__number {
        color: var(--white);
        text-transform: uppercase;
        font-size: 56px;
        font-weight: 700;
        color: var(--white)

    }

    &__title {
        color: var(--white);
        text-transform: uppercase;
        font-size: 18.5px;
        font-weight: 300;
        color: var(--white);
    }
}

@media (max-width: 992px) {
    .digits {
        &__wrapper {
            width: 340px;
        }
    }
}

@media (max-width: 768px) {
    .digits {
        &__wrapper {
            width: 260px;
        }
    }
}

@media (max-width: 576px) {
    .digits {
        &__wrapper {
            width: 100%;
            padding: 10px 0;
        }
    }
}