.next, .prev {
    background: var(--secondary);
    color: var(--main);
    border: 2px solid var(--main);
    border-radius: 5%;
    width: 30px;
    height: 30px;
    margin: 5px;
    padding: 0px;
    line-height: 0px;
}

.link {
    width: 30px;
    height: 30px;
    margin: 5px;
    border: 2px solid var(--main);
    background-color: var(--secondary);
    text-align: center;
    cursor: pointer;
    color: var(--darker);
    text-decoration: none;
    padding: 0px;
    line-height: 0px;
    
    a {
        text-decoration: none;
    }
}

.active {
    width: 32px;
    height: 32px;
    margin: 5px;
    border: var(--main);
    border: 2px solid var(--secondary);
    background-color: var(--main);
    font-weight: 800;
    color: var(--secondary);
    padding: 0px;
    line-height: 0px;
}